.filter-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
}
.filter-inputs{
  display: flex;
  flex-direction: column;
  width: 100%;
}

select, input{
  outline: none;
  margin-bottom: 5px;
  font-size: 1.4em;
  width: 90%;
}

label{
  font-size: 1.2em;
}

@media screen and (min-width: 780px){
  .filter-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto;
    align-items: center;
  }
}